* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  


/* Navbar*/


.navbar {
    display: flex;
    justify-content: space-between;
    align-items: right;
    position: relative;
    background-color: #400b2c;

}

.navbar li {
    display: flex;
    list-style: none;
}

.navbar ul {
    display: flex;
    list-style: none;
    margin: 0.2rem 1rem;
    
}

.navbar ul li {
    font-family: century;
    font-size: 0.75rem;
    font-style: italic;
    font-weight: bold;
    
}

.navbar ul li a {
    text-decoration: none;
    color: white;
    padding: 1rem;
    transition: all 1.5s ease;
}

.navbar ul li a:hover {
    background-color: #400b2c;
    color: rgb(0, 0, 255);
    padding: 0.5rem;
    z-index: 1;
}

.move{
display: flex;
color: rgb(153, 88, 88);
font-size:  2.2rem; 
top:0.33rem;
position: absolute;

}
.head{
    font-weight: lighter;
    padding-left: 52rem;
}
.end{
    padding-top: 1rem;
}





/*Body*/
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;

}
.square{
    display: flex;
    position: relative;
    background-color:rgb(22, 20, 20);
    height: 20rem;
    width: 30rem;
   left: 20rem;
   top: 5rem;
   border-radius: 25px;
   border-style: solid;
   border-color: black;
}
   input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  input[type=submit] {
    width: 30%;
    height: 10%;
    background-color: #4CAF50;
    color: white;
    position: relative;
    top:18rem;
    left: 2rem;
    margin-left: 9rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
   
   
   




